.cart-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.cart-item {
	display: flex;
	flex-direction: flex;
	align-items: top;
}

.cart-container__item {
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.cart-img__container {
	width: 15%;
}

.cart-item__img {
	width: 100%;
}

.cart-item__description {
	text-align: left;
	padding-left: 20px;
}

.cart-btn__delete {
	width: 15%;
}

.cart-item__btn {
	display: block;
}

.cart-total {
	width: 20%;
	text-align: left;
}

.cart-empty__title {
	width: 100%;
}
