.item-count {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

.item-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px 0;
	border-bottom: none;
}

.btn-add,
.btn-subtract {
	width: 35px;
	height: 35px;
	border: 0;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}

.btn-add:active,
.btn-subtract:active {
	transform: scale(0.9);
}

.btn-add__cart {
	padding: 10px 0;
	width: 100%;
	border: none;
	cursor: pointer;
	border: 1px solid #000;
}

.btn-add__cart:hover {
	background-color: rgb(206, 206, 206);
}
