* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
}

#root {
	width: 100%;
}

.header_container {
	width: 100%;
	border-bottom: 1px solid #000;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1328px;
	height: 55px;
	min-width: 80vw;
	margin: auto;
}

.navbar-logotipe {
	display: inline-block;
}

.navbar_container {
	display: flex;
	list-style: none;
	height: 100%;
}

.navbar_item {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 100%;
	text-align: center;
}

.navbar_item:hover {
	background-color: #ddd;
}

.navbar_link {
	text-decoration: none;
}
